/* Custom Styles for Animations */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.85); 
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-in {
    animation: fade-in 1s ease-out forwards;
}

.animate-fade-in-1 {
    animation: fade-in 1s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* wave */
@keyframes fade-in-wave-down {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    25% {
        opacity: 0.7;
        transform: translateY(50px); /* Bergerak turun lebih dulu */
    }
    60% {
        opacity: 0.85;
        transform: translateY(-40px); /* Lalu bergerak sedikit ke atas */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Terakhir kembali ke posisi semula */
    }
}

.animate-fade-in-wave-down {
    animation: fade-in-wave-down 1.4s ease-out forwards;
}

.animate-fade-in-wave-down-1 {
    animation: fade-in-wave-down 1s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes fade-in-wave-up {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    25% {
        opacity: 0.7;
        transform: translateY(-50px); /* Bergerak turun lebih dulu */
    }
    50% {
        opacity: 0.85;
        transform: translateY(40px); /* Lalu bergerak sedikit ke atas */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Terakhir kembali ke posisi semula */
    }
}

.animate-fade-in-wave-up {
    animation: fade-in-wave-up 2s ease-out forwards;
}

.animate-fade-in-wave-up-1 {
    animation: fade-in-wave-up 1s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* fade in direction */
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* kalau ada cover berarti as you scroll */
.animate-fade-in-up {
    animation: fade-in-up 1s ease-out forwards;
}

.animate-fade-in-up-1 {
    animation: fade-in-up 1s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-30px); /* Mulai dari sedikit di atas */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* kalau ada cover berarti as you scroll */
.animate-fade-in-down {
    animation: fade-in-down 1s ease-out forwards;
}

.animate-fade-in-down-1 {
    animation: fade-in-down 1s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(50px); /* Mulai dari sedikit di kanan */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-fade-in-right {
    animation: fade-in-right 1s ease-out forwards;
}

.animate-fade-in-right-1 {
    animation: fade-in-right 1s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(-50px); /* Mulai dari sedikit di kiri */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-fade-in-left {
    animation: fade-in-left 1s ease-out forwards;
}

.animate-fade-in-left-1 {
    animation: fade-in-left 1s ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Pastikan hidden-on-load dan animation-delay kelas digunakan dengan benar */
.hidden-on-load {
    opacity: 0;
}

.animation-delay-0 {
    animation-delay: 0s;
    opacity: 0;
}

.animation-delay-200 {
    animation-delay: 0.2s;
    opacity: 0;
}

.animation-delay-300 {
    animation-delay: 0.3s;
    opacity: 0;
}

.animation-delay-400 {
    animation-delay: 0.4s;
    opacity: 0;
}

.animation-delay-500 {
    animation-delay: 0.5s;
    opacity: 0;
}

.animation-delay-600 {  
    animation-delay: 0.6s;
    opacity: 0;
}